
$primary-color: #19A727;       // COLOR FOR HIGHLIGH ELEMENTS
$secondary-color: #D9D9D9;     // COLOR PARA FONTS
$font-color: $secondary-color;   // COLOR FOR FONTS
$icon-color: $secondary-color;   // COLOR FOR ICONS
$tertiary-color: #161616;      // COLOR FOR CONTAINERS BODY
$quaternary-color: #1E1E1E;    // COLOR FOR TABS
$tab-color: #111111;
$ui-border: 1px solid #0C0C0C;
