
















// VIEWPORT TAB :

#viewport-tab{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $inside-tab-gap;
}

// VIEWPORT MENU CONTAINER :

.viewport-menu-container{
    position: relative;
    width: 100%;
    height: $tab-header-height;
    min-height: $tab-header-height;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tab-color;
}

// VIEWPORT CONTAINER :

.viewport-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: $tab-color;
    overflow: hidden;
    border-top: none;
}

// VIEWPORT MENU RIGHT CONTAINER :

.viewport-menu-right-container{
    position: absolute;
    right: 3px;
    height: 30px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    .viewport-menu-button{
        position: relative;
        @include buttonIcon();
    }
}

// VIEWPORT MENU LEFT CONTAINER : 

.viewport-menu-left-container{
    position: absolute;           
    left: 3px;
    height: 30px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    .viewport-menu-button{
        position: relative;
        @include buttonIcon();
    }
}

// VIEWPORT : 

.viewport{
    position: absolute;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}