










// INSPECTOR TAB : 

#inspector-tab{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: $inside-tab-gap;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    &::-webkit-scrollbar {
        background: none; 
        width: 8px;
        left: -5px;
    }
    &::-webkit-scrollbar-thumb {
        background: $tab-color; 
        width: 5px;
        border-top: $inside-tab-gap solid $tertiary-color;
        border-bottom: $inside-tab-gap solid $tertiary-color;
        border-right: $inside-tab-gap solid $tertiary-color;
        &:active{
            background: $icon-color;
        }
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
}

// INSPECTOR CONTAINER : 

$inspector-container-gap: $inside-tab-gap;

.inspector-container{
    position: relative;
    border: $inspector-container-gap solid $tertiary-color; 
    border-top: none;
    border-bottom: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: $tab-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    &:nth-of-type(1){
        border-top: $inspector-container-gap solid $tertiary-color;
    }
    &:last-of-type{
        border-bottom: $inspector-container-gap solid $tertiary-color;
    }
}

// INSPECTOR CONTAINER ROW :

$inspector-container-row-height: 30px;
$inspector-container-row-padding: 5px;

.inspector-container-row{
    position: relative;
    width: 100%;
    height: $inspector-container-row-height;
    min-height: $inspector-container-row-height;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: $inspector-container-row-padding solid $tab-color;
    border-top: none;
} 

// INSPECTOR CONTAINER LABEL : 

.inspector-contaier-label{
    position: relative;
    width: 100%;
    height: $inspector-container-row-height;
    min-height: $inspector-container-row-height;
    box-sizing: border-box;
    border-left: calc($inspector-container-row-padding + 3px) solid $tab-color;
    font-family: $app-font;
    font-weight: initial;
    font-size: $text-1x;
    color: $font-color;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

// INSPECTOR CONTAINER LABEL CONTAINER :

.inspector-container-label-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

// INSPECTOR CONTAINER CONTROL CONTAINER : 

$inspector-container-inside-gap: 5px;

.inpector-container-control-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: $inspector-container-inside-gap;
}

// INSPECTOR CONTAINER LABEL : 

.inspector-container-label{
    position: absolute;
    left: 3px;
    font-family: $app-font;
    font-weight: initial;
    font-size: $text-1x;
    color: $font-color;
    text-align: left;
}

// INSPECTOR CONTAINER INPUT CONTAINER : 

.inspector-container-input-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: $tertiary-color;
        border: 1px solid $tertiary-color;
        outline: none;
        padding: 3px;
        font-family: $app-font;
        color: $font-color;
        font-weight: initial;
        font-size: $text-1x;
        padding-right: 20px;
        &:focus{
            border-color: $primary-color;
        }
    }
    .input-incrementor{
        position: absolute;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        right: 2px;
        z-index: 1;
        cursor: w-resize;
        i{
            position: relative;
            font-size: 15px;
            color: $icon-color;
        }
        &:active{
            i{
                color: $primary-color;
            }
        }
    }
}

// INSPECTOR CONTAINER DROPDOWN CONTAINER : 

.inspector-container-dropdown-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .inspector-dropdown{
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: $tertiary-color;
        border: 1px solid $tertiary-color;
        outline: none;
        padding: 3px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        .inspector-dropdown-selected-label{
            position: absolute;
            left: 3px;
            font-family: $app-font;
            color: $font-color;
            font-weight: initial;
            font-size: $text-1x;
        }
        &:focus{
            border-color: $primary-color;
        }
    }
    .dropdown-arrow{   
        position: absolute;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        right: 2px;
        z-index: 1;
        i{
            position: relative;
            font-size: 15px;
            color: $icon-color;
        }
        &:active{
            i{
                color: $primary-color;
            }
        }
    }
}

// INSPECTOR CONTAINER RANGE CONTAINER : 

.inspector-container-range-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    background: $tertiary-color;
    .inspector-range{
        position: relative;
        width: 100%;
        height: 2px;
        box-sizing: border-box;
        background: $tab-color;
        outline: none;
        -webkit-appearance:none; 
        margin-left: 7px;
        margin-right: 5px;
        border-radius: 50px;
        &::-webkit-slider-thumb {
            -webkit-appearance:none; 
            background: $icon-color;
            width: 15px;
            height: 6px;
            border: 1px solid $icon-color;
            cursor:pointer;
            &:active{
                border-color: $primary-color;
                background: $primary-color;
            }
        }
    }
    .inspector-range-value-label{
        position: relative;
        font-family: $app-font;
        color: $font-color;
        font-weight: initial;
        font-size: $text-1x;
        margin-left: 5px;
    }
}


// INSPECTOR CONTAINER INPUT TEXT CONTAINER : 

.inspector-container-text-input-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: $tertiary-color;
        border: 1px solid $tertiary-color;
        outline: none;
        padding: 3px;
        font-family: $app-font;
        color: $font-color;
        font-weight: initial;
        font-size: $text-1x;
        padding-right: 20px;
        &:focus{
            border-color: $primary-color;
        }
    }
    .text-input-icon{
        position: absolute;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        right: 4px;
        z-index: 1;
        i{
            position: relative;
            font-size: 15px;
            color: $icon-color;
        }
    }
}

